<div id="sv-modal-container">
    <div class="sv-modal-header">
        <h2 class="sv-modal-title" ng-bind-html="title"></h2>
    </div>
    <div class="sv-align-center">
      <form>
        <div><input type="text" placeholder="Title" ng-model="post.title"/></div>
        <div><input type="text" placeholder="Title" ng-model="post.title"/></div>
        <div><input type="text" placeholder="Title" ng-model="post.title"/></div>
        <div><input type="text" placeholder="Title" ng-model="post.title"/></div>
      </form>
    </div>

    <br>
    <div class="sv-modal-footer sv-a-right sv-padding-left-right-20">
        <button class="sv-button-normal" ng-click="cancel()">{{closeBtn}}</button>
    </div>
</div>
