<div id="gd-contacts" fade-in>
  <div id="contacts-title" class="title"><h1>{{contactUsTitle}}</h1></div>
  <div id="contact-contents">
    <div id="contacts-info"> 
      <div class="title">Chinmay Pujari</div>
      <div class="contacts-phone">+91 9008040004</div>

      <div class="title">E Mail</div>
      <div class="contacts-emails">ganagapurdattaguru.com</div>

      <div class="title">Address</div>
      <div class="contacts-address">Chinmay Pujari <br/>Ganagapur<br/> Gulbarga<br/>Karnataka</div>
    </div>
    
    <div id="map"></div>
  </div>
</div>