<div id="gd-charitra" fade-in>
  <div id="dealers-title" class="title"><h1>Lord Dattatreya</h1></div>
  <div id="description">
    <p>
      Dattatreya – a Universal Guru manifested in the recess of time of 'Kaliyug', 
      when humanity had gone far from its pristine state and steeped into threshold of a time when all kinds of vices had already taken root, 
      and the pious souls made fervent appealed for the salvage of the mankind surging forward in manifold way.
    </p>
    <p>
      He is an 'Avadhoot', ever anchored in Spirit, but always overflowing with compassion for all the beings and the entire creation. He is the embodiment of total Godhead. 
    </p>
    <p>
      All the aspects of Godhead are fully manifest in Him. His faces and form are ever radiant with peace and divine charm.
    </p>
    <ul>
      <li>
        The Cow, which is always with Him, represents the Mother Earth and Dharma. She is the wish-fulfilling cow 'Kamadhenu' 
      </li>

      <li> 
        The four dogs symbolise the four Vedas – the external repositories of Spiritual Wisdom. 
        The trident indicates that He has transcended the three gunas, which constitute the illusory world Sattva-illumination, 
        Rajas-activity and Tamas-inertia. 
      </li>

      <li> 
        The 'Sudharshana Chakra', disc indicates that He is beyond the cycles of time i.e. 
        the past, present and future and His holding of 'chakra' means He is the controller of time. 
      </li>

      <li> 
        The conch represents the eternal sound 'AUM’ – which is the manifestation of the Spirit. 
        It is also the life principle in us and the cosmos. 
      </li>

      <li> 
        He always carries a begging bowl so as to teach us the lesson that we will have to share our wealth and food with others. 
      </li>

      <li> 
        The japa-mala, rosary He wears reminds us that our primary duty is chanting the sacred name of the 
        Lord and meditating on the feet of the Lord, and our redemption depends on this discipline alone.
        Lord Dattatreya, in order to bless His devotees and the righteous ones, wanders about in the guise of a random guest at the lunch hour. 
        That's why it is said that a random guest has to be treated as the very embodiment of Lord Dattaterya. 
      </li>
    </ul>

    <p>
      Lord Dattatreya had twenty four teachers from nature "many are my preceptors," he told King Yadu, 
      "selected by my keen sense, from whom acquiring wisdom freely, 
      I wander in the world… The earth, air/breeze, sky, fire, the sun, pigeon, python, sea, moth, elephant, ant, fish, Pingala the courtesan, 
      arrow-maker, infant/playful boy, the moon, honeybee, deer, bird of prey, maiden, serpent, spider, caterpillar and water 
      are my twenty four preceptors.
    </p>
    <p>	 
      Guru Dattatreya gave Ashtanga Yoga (eight fold path of Yoga) to the world thousands of years ago. It comprises
    </p>
    <ul>
      <li>
      Yama – non-killing, truthfulness, non-stealing, and non-receiving of any gifts.
      </li>

      <li>
      Niyama – cleanliness, contentment, austerity, study and self-surrender to God. Moral discipline Yama and Niyama are moral training and form the basis of Yoga. As these two become established, the Yogi will begin to realize the fruits of his practice.
      </li>

      <li>
      Asana – Posture
      </li>

      <li>
      Pranayama – ‘Prana’ is the life-force, ‘yama’ is control. 'Pranayama' consists of breath control exercises.
      </li>

      <li>
      Pratyahara – Withdrawal of senses from sense objects
      </li>

      <li>
      Dharana – Concentration.
      </li>

      <li>
      Dhyana – Meditation.
      </li>

      <li>
      Samadhi – The transcendental or super conscious state of being one with God
      </li> 
    </ul>
  </div>
</div>
