<div id="gd-charitra" fade-in>
  <div id="dealers-title" class="title"><h1>Places to visit at Ganagapur</h1></div>
  <div id="description">
  
   <ul>
      <li> 
        Shree Swamy Mutt (Nirguna Padukas) 
      </li>
      <p>
        The Main Mutt in Ganagapur where Shree Guru used to Stay is known as Nirgun Math. 
        This Nirguna Math is adorned with the Nirguna Padukas. 
        There is a Holy Tree of Ashwattha in the Temple (Nirgun Math). 
        Shree Kshetra Ganagapur is a Holy Place of Lord Dattatreya and the place is very important “Darshaneeya kshetra”. 
        The Kshetra Importance was explained by Shreeguru and it can be seen in “Shree Guru Charitra”. 
      </p>
      
      <p>
        There is an Assurance from Shreeguru that he would forever abide at Ganagapur and go round the village for ‘Biksha’ at 12:00 
        noon is literally true even today. 
      </p>
      <p>
        Offering “Madhukari” to the people at Ganagapur and taking Biksha from atleast 5 houses is having very importance at this Holy Place. 
        Even today also, the process is continuing and the devotees are having faith that Lord Dattatreya is taking biksha everyday 
        at Kshetra Ganagapur. Shree Guru Nrusimha Saraswathy Swamy confirmed the same and it can be seen in Gurucharitra Adhyay (chapter) 21-22. 
      </p>
      <p>
        Shree Guru's Words to All His Devotees : “Vasathi Rani Sangamase Jate Nithya Bikshese Taya Gangapurase Madyana Kala Pareyasa”. 
      </p>
      
      <li> 
        Sangam - Confluence of Bheema-Amaraja rivers 
      </li>
      <p>
        Sangam is like Prayaga. The importance of Sangam was explained by Shreeguru in Shreegurucharitra. 
        Whoever takes bath in Sangam, he will be free from his sins and his wishes will be fulfilled. 
        Bath in Sangam in Kartheeka Maasam, Maagha Maasam, Makara Sankranthi, 
        Poornima and Amaavasya days, before and after Grahana period is very virtuous.
      </p>

      <li> 
        Audumbar Vriksh (fig tree) 
      </li>
      
      <p>
        After having bath in Sangam. Take a mug/pot/bottle of Sangam water and offer at the root of famous Audumbar tree. 
        Do pradakshina with a minimum of 11/21/108 rounds to the tree by chanting Datta nama 
        'DIGAMBARA DIGAMBARA SHREE PAADA VALLABHA DIGAMBARA". 
      </p>
      <p>History of Audumbar Tree:</p>

      <p>
        According to Gurucharitra it is supposed to be the tree got shot from a dry twig by the 
        grace of Sri Nrusimha Saraswathy Swami Maharaj while curing leprosy of a learned vedic pandit. 
      </p>
      <p>
        Leprosy disease of a brahmin by name Narahari was cured by Shree guru Nrusimha 
        Saraswathy swamy and the story can also seen in Shreegurucharitra. 
        Narahari bowed to Shreeguru and began to pray him at that time. 
        The 8 sloka stotra composed by Narahari has become famous and are being reciting in the temple at night even today also. 
      </p>
      <p>Each sloka ends with "VANDAYAAMI NAARASIMHA SARASWATHEESHA PAAHIMAAM".</p>

      <p>
        The stotra is now familiar as Nrusimha Saraswathy Ashtaka. 
        Shreeguru blessed Narahari and said, whoever recites the sloka every day with full devotion, 
        they will get ashta aishwarya, spiritual power, wealth, and fame.
      </p>

      <p>
        One who performs Guru Charitra Parayan with "Sapthaha deeksha" at the premises of this Audumbar tree, 
        will definitely have the darshan of Lord Dattatreya in any form and their desires will be fulfilled.
      </p>


      
 	


      <li> 
        Sangameshwaraalayam at Sangam 
      </li>
      <p>
        After worshipping Audumbar at Sangam, worship Sangameshwara in the Sangameshwaralaya temple with devotion. 
        This Shivalinga is like Mallikarjuna of Srisailam. Bow to Nandi and Chandi and have 3 rounds like round from 
        Nandi to Chandi and Chandi to Nandi back and have darshan of Lord Shankara. 
      </p>

      <li> 
        Ash Hill
      </li>
      <p>
        Ash hill is nearer to Sangam and it is said that there was a hill from which Ash came from the days of Lord Parashurama. 
        Lord Parashurama performed penance at this place. 
      </p>
      <p>
        The ash is very powerful and now it is in the form of Mud only. 
        The wearing of ash by mixing with udhi is very powerful and it will protect those persons from DRISHTI doshas. 
      </p>
      <p>
        If the ash is applied slightly everyday on the stomach part of pregnant ladies, 
        then they will deliver a healthy child with some "Tejarupa". 
      </p>

</div>
