<div id="gd-charitra" fade-in>
  <div id="dealers-title" class="title"><h1>How to reach Ganagapur</h1></div>
  <div id="description">
    <ul>
      <li> 
        Ganagapur Datta Mutt is situated at 22 kms from 'Ganagapur Road' (Railway Station Name) in Karnataka. 
      </li>

      <li> 
        Nearest City is Gulbarga at 40 kms (approx) 
      </li>

      <li> 
        Gangapur to Sholapur (Solapur) distance is around 95 kms (approx) 
      </li>

      <li> 
        Hyderabad to Ganagapur is 250 kms (approx) 
      </li>

      <li> 
        Mumbai to Ganagapur railway distance is 526 kms (approx)
      </li>
      
      <li>
        Mumbai to 'Ganagapur Road' direct and most convenient Train is 1013 Dn L.T.T. Kurla Terminus - Coimbatore Express, 
        which departs from Kurla Terminus at 10.10 PM & departs from Kalyan 11.15 in the night. 
        It reaches Ganagapur at 8.08 AM on the next day morning.
      </li>

      <li>
        Hyderabad to 'Ganagapur Road' by car via Humnabad, Gulbarga, Ganagapur.
      </li>

      <li>
        Hyderabad to 'Ganagapur Road' by Bus Take bus to Gulbarga. 
        There are many trains to Gulbarga. One can reach Gulbarga and take a bus to Ganagapur.
      </li>

      <li>
        It takes around 3 hours maximum to perform Pooja / Abhishek at Ganagapur by a family. 
        If required Chinmaya Pujari - +919008040004 can arrange for accommodation, food and stay. 
      </li>

      <li>
        Hyderabad to Chilkur - to Chevella - to Manneguda cross - to Parigi - to Kodangal - 
        to Ribbanpalli - to Sedam - to Gulbarga - to Chowdapur - to Ganagapur
      </li>
    </ul>
    
    <b>
      Gulbarga Railway Station Enquiry : 08472 266611 <br/>
      Ganagapur Railway Station Enquiry : 08470 266042
    </b>
  </div>
</div>
