<div id="gd-charitra" fade-in>
  <div id="dealers-title" class="title"><h1>Sevas at Ganagapur</h1></div>
  <div id="description">
    <ul>
    
      <li> 
        Paduka Keshar Lepan Puja to Nirguna Padukas
      </li>

      <li> 
        Pallaki Seva (During Evening 7:30 PM till 8:30 PM)
      </li>

      <li> 
        Rudrabhishek in the premises of Devasthan / Abhishek Hall
      </li>

      <li> 
        Shree Gurucharitra Parayan
      </li>

      <li> 
        Shree Datta Homam
      </li>
      
      <li>
        Madhukari Seva (Annadaan)
      </li>

      <li>
        Bhoga Naivedya
      </li>

      <li>
        Nandadeep Seva (for Deepam in the Garbhalaya)
      </li>

      <li>
        Sarva Seva (All the pooja's in the temple from morning to night)
      </li>

    </ul>

  </div>
</div>
