<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
      "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
      "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
 
		<property name="connection.url">jdbc:mysql://localhost:3306/letshare</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<property name="hbm2ddl.auto">update</property>
		<property name="show_sql">true</property>
		<property name="hibernate.connection.autocommit">false</property> 
		<!-- <property name="hibernate.current_session_context_class">thread</property>
		
		<property name="hibernate.c3p0.min_size">5</property>
<property name="hibernate.c3p0.max_size">20</property>
<property name="hibernate.c3p0.timeout">300</property>
<property name="hibernate.c3p0.max_statements">50</property>
<property name="hibernate.c3p0.idle_test_period">3000</property>
 -->
	 <mapping class="com.letshare.model.User" />
	
	 <mapping class="com.letshare.model.Post" />
	 <mapping class="com.letshare.model.PostDetails" />
	 <mapping class="com.letshare.model.PostLocation" />
	 <mapping class="com.letshare.model.Category" />
	 <mapping class="com.letshare.model.CategoryField" />
	 
	 <mapping class="com.letshare.model.City" />
	 <mapping class="com.letshare.model.Location" />

	</session-factory>
</hibernate-configuration>